// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;
$font-primary: 'Source Sans Pro', Arial, sans-serif;
$font-secondary: 'Clicker Script', cursive;

$color-primary: #FF847C !default;
$color-secondary: #7f7f7f;
$color-white: #fff;
$color-black: #000;
$color-body: #818892;
$color-selection: #f9f6f0;

$padding-extra-small : 4rem;
$padding-small : 5rem;
$padding-medium : 6rem;
$padding-large : 7rem;
$padding-extra-large : 8rem;


